* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    text-align: center;
    color: aliceblue;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 60px;
    color: gold;
    letter-spacing: 2px;
}

h3 {
    font-size: x-large
}

#shadow {
    width: 50%;
    max-width: 180px;
}

button {
    background: gold;
    color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
    width: 80%;
    max-width: 250px;
}

button:hover {
    background: orange;
    transform: scale(1.05);
}

.click {
    border-color: white;
}

#coin {
    cursor: pointer;
    width: 200px;
    max-width: 80%;

}

.container {
    border-radius: 20px;
    max-width: 400px;
    margin: auto;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 100%;
    padding: 20px;
}

b {
    font-size: 30px;
    color: azure;
}