body {
    text-align: center;
    color: aliceblue;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    margin: 25px;
    padding: 25px;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 60px;
    color: gold;
    letter-spacing: 2px;
}

h3 {
    font-size: x-large
}

#shadow{
    width: 50%;
    max-width: 180px;
}

button {
    background: gold;
    color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
    width: 80%;
    max-width: 250px;
}

button:hover {
    background: orange;
    transform: scale(1.05);
}

.click {
    border-color: white;
}

#coin {
    width: 50%;
    max-width: 220px;
    cursor: pointer;

}

.container {
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

b {
    font-size: 30px;
    color: azure;
}